body {
    background-color: black;
}

h1 {
	font-family: "Helvetica";
    font-size: 2em;
    color: white;
    text-align: center;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a {
    color: #666;
	
}
li {
    text-align: center;
    border-bottom: 1px solid #555;
	float: left;
	width: 20%;
}

li:last-child {
    border-bottom: none;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
	color: white;
}